<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lounge</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/adminsltyle.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="header">
            <div class="container">
                <div class="header_inner">
                    <a class="header_logo" asp-area="" asp-controller="Home" asp-action="Index">lounge</a>
                    <div class="nav">
                        <a class="nav_link " asp-area="" asp-controller="Admin" asp-action="Admin">Admin</a>
                        <a class="nav_link " asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        <a class="nav_link " asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        <a class="nav_link " asp-area="" asp-controller="Home" asp-action="Create">Create</a>

                    </div>
                </div>
            </div>
        </nav>
    </header>

    @RenderBody()


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - LoungeMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script 
            src="~/lib/jquery/dist/jquery.min.js">

    </script> 
    

    <script
            type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js">
    </script>   


    <script src="~/js/site.js" asp-append-version="true">

    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
