
#block {
    position: relative;
    width: 300px;
    height: 470px;
    margin: 5px;
    padding: 15px;
    border: 2px solid gray;
    border-radius: 10px;
    transition: 0.5s;
}
    #block:hover {
        background-color: lightgray;
    }

    #block a {
        display: inline-block;
        margin: 0 10px;
    }
.btn_btn_danger {
    text-align: center;
    margin-top: 10px;
    padding-top: 6px;
    width: 106px;
    height: 38px;
    background-color: pink;    
    color: #000;
    border-radius: .25rem;
    transition:  0.5s;
}
.btn_btn_danger:hover{
    background-color: hotpink;
    text-decoration: none;
    color: #000;
}
