
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<form method="post" action="~/Home/Index">
    <p>
        <label>Ім'я</label><br />
        <input type="text" name="name" />
    </p>
    <p>
        <label>Зображення</label><br />
        <input type="text" name="image" />
    </p>
    <p>
        <label>Смак</label><br />
        <input type="text" name="taste" />
    </p>
    <p>
        <label>Вага</label><br />
        <input type="number" name="weight" />
    </p>
    <p>
        <label>Опис товару</label><br />
        <input type="text" name="description" />
    </p>
    <p>
        <input type="submit" value="Отправить" class="btn-danger" />
        <a href="Index">
            <Button>Back</Button>
        </a>
    </p>
</form>
