@model IEnumerable<LoungeMVC.Models.Tobacco>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row mt-5 mb-2">
    

        @{ 
            foreach (var tobacco in Model) {

            <div id="block">
                <img class="img-thumbnail" src="@tobacco.Image" alt="@tobacco.Name" />
                <h2>@tobacco.Name</h2>
                <p>@tobacco.Description</p>
                <a class="btn btn-warning" href="~/Home/Edit/@tobacco.Id">Детальніше</a>
                <a class="btn_btn_danger" href="~/Home/DeleteTobacco/@tobacco.Id">Видалити</a>
                <a class="btn btn-danger" href="~/Home/Buy/@tobacco.Id">Купити</a>
            </div>
            }
        }

</div>

